body{
  color:#40514E;
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: center;
  background-color: white;
}
a{
  color: #11999E;
  font-family:'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

h1{
  margin-top: 0;
  font-size:60px;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}
h2{
  font-size: 25px;
  color:#66BFBF;
  font-family:'Montserrat',sans-serif;
  padding-bottom: 10px;
}
h3{
  font-size: 20px;
  color:#66BFBF;
  font-family:'Montserrat',sans-serif;
}
hr{
  border-style: dotted;
  border-width: 6px;
  color:lightgrey;
  border-bottom: none;
  width:4% ;
  margin: 100px auto;
}
.top-container{
  padding-top:100px;
  position: relative;
  background-color: #E4F9F5;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  padding: 50px 0 20px;
  background-color: #66BFBF;
}
.head{
  font-size: 40px;
  color:#66BFBF;
}
p{
  font-size: 15px;
  line-height: 2;
}
.valley{
  width: 500px;
  height:350px;
}
.top-cloud{
  width:170px;
  height: 100px;
  position: absolute;
  right: 300px;
  top:50px;
}
.bottom-cloud{
  width:170px;
  height: 100px;
  position: absolute;
  left:300px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;

}
.code{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.cook{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.my{
  width:40px;
}
.golgappa{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.foot{
  color: #EAF6F6;
  padding: 20px 0;
}
