.top-container{
  padding-top:100px;
  position: relative;
  color: seagreen;
  font-size: 30px;
  background-color: powderblue;
}
body{
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: center;
  background-color: white;
}
middle-container{
  font-size: 20px;
}
h1{
  margin-top: 0;
  font-size:60px;
}
h2{
  font-size: 25px;
  color:seagreen;
}
h3{
  font-size: 20px;
  color:seagreen;
}
.head{
  font-size: 40px;
}
p{
  font-size: 15px;
}
.valley{
  width: 500px;
  height:350px;
}
.top-cloud{
  width:170px;
  height: 100px;
  position: absolute;
  right: 300px;
  top:50px;
}
.bottom-cloud{
  width:170px;
  height: 100px;
  position: absolute;
  left:300px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.code{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.cook{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.my{
  width:40px;
}
.golgappa{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.bottom-container{
  background-color: lightseagreen;
  font-size: 19px;
}
.btn{
  font-size: 30px;
  padding: 10 20 10 20;
  background-color: white;
  color:seagreen;
  font-family: 'roboto' ,sans-serif;
}
.hr{
    width: 5%;
    border-style: dotted none none;
    border-width: 8px;
    color: #EAF6F6;
    margin: 100px auto 100px;
}
